In [79]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [80]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [81]:
## Preprocessing data
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [82]:
## Encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [83]:
## Onehot encode 'Geography'
from sklearn.preprocessing import OneHotEncoder
one_hot_encode_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoder = one_hot_encode_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns = one_hot_encode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [84]:
## Combine one hot encoded columns with the original data
data = pd.concat([data.drop('Geography',axis =1),geo_encoded_df],axis = 1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [85]:
## Devide the dataset into independent and dependent features
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

## Split the data in training and testing set
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## SCale these features
scalar_reg = StandardScaler()
x_train = scalar_reg.fit_transform(x_train)
x_test = scalar_reg.transform(x_test)

In [86]:
## save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('one_hot_encode_geo.pkl','wb') as file:
    pickle.dump(one_hot_encode_geo,file)

with open('scalar_reg.pkl','wb') as file:
    pickle.dump(scalar_reg,file)

In [87]:
## ANN regression problem statement

In [88]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [89]:
## Build our ANN model
model = Sequential([
    Dense(64,activation = 'relu', input_shape = (x_train.shape[1],)), ## HL1 connected with input layer and so input shape is given
    Dense(32,activation = 'relu'), ## HL2
    Dense(1) ## output # if we do't mention any activation function in output, it will take linear activation function by default for regression
])

In [90]:
## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 64)                832

 dense_13 (Dense)            (None, 32)                2080

 dense_14 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [91]:
## Set up the tensorboard

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

In [92]:
## Set up Early stopping - We can train our model in many epocs but to know in which epoch it can give best output, we use this
early_stopping_callback = EarlyStopping(monitor='val_loss',patience = 20, restore_best_weights = True)

In [93]:
## Training the model
histoy = model.fit(
    x_train,y_train,validation_data = (x_test,y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 100363.2734 - mae: 100363.2734 - val_loss: 98466.3047 - val_mae: 98466.3047
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99456.7812 - mae: 99456.7812 - val_loss: 96637.2734 - val_mae: 96637.2734
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 96261.9062 - mae: 96261.9062 - val_loss: 91943.1797 - val_mae: 91943.1797
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 90007.8047 - mae: 90007.8047 - val_loss: 84252.5781 - val_mae: 84252.5781
Epoch 5/100
250/250 [==============================] - 1s 5ms/step - loss: 81150.8828 - mae: 81150.8828 - val_loss: 74742.6250 - val_mae: 74742.6250
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 71234.7500 - mae: 71234.7500 - val_loss: 65401.8320 - val_mae: 65401.8320
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 62238.8281 - mae: 62238.8281 - val_loss: 57959.0195 - val_mae: 57959.0195
Epoch 8/100
250/250 [==============================] - 1s 5ms/step - loss: 55860.4219 - mae: 55860.4219 - val_loss: 53457.3398 - val_mae: 53457.3398
Epoch 9/100
250/250 [==============================] - 1s 5ms/step - loss: 52348.4492 - mae: 52348.4492 - val_loss: 51466.6016 - val_mae: 51466.6016
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 50826.5273 - mae: 50826.5273 - val_loss: 50836.3320 - val_mae: 50836.3320
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 50282.5234 - mae: 50282.5234 - val_loss: 50649.1680 - val_mae: 50649.1680
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50084.5469 - mae: 50084.5469 - val_loss: 50580.6211 - val_mae: 50580.6211
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 49998.0391 - mae: 49998.0391 - val_loss: 50547.7969 - val_mae: 50547.7969
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 49949.0352 - mae: 49949.0352 - val_loss: 50520.3828 - val_mae: 50520.3828
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 49911.5039 - mae: 49911.5039 - val_loss: 50496.2266 - val_mae: 50496.2266
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 49877.0781 - mae: 49877.0781 - val_loss: 50456.8555 - val_mae: 50456.8555
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 49846.6055 - mae: 49846.6055 - val_loss: 50441.2773 - val_mae: 50441.2773
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 49819.9414 - mae: 49819.9414 - val_loss: 50417.1484 - val_mae: 50417.1484
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 49794.9219 - mae: 49794.9219 - val_loss: 50403.0156 - val_mae: 50403.0156
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49770.5977 - mae: 49770.5977 - val_loss: 50393.0156 - val_mae: 50393.0156
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49749.4375 - mae: 49749.4375 - val_loss: 50374.8477 - val_mae: 50374.8477
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49731.1016 - mae: 49731.1016 - val_loss: 50366.3047 - val_mae: 50366.3047
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49711.1523 - mae: 49711.1523 - val_loss: 50354.0898 - val_mae: 50354.0898
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 49695.5664 - mae: 49695.5664 - val_loss: 50344.9102 - val_mae: 50344.9102
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49683.1953 - mae: 49683.1953 - val_loss: 50343.1406 - val_mae: 50343.1406
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49665.6445 - mae: 49665.6445 - val_loss: 50321.2773 - val_mae: 50321.2773
Epoch 27/100
250/250 [==============================] - 1s 5ms/step - loss: 49646.6680 - mae: 49646.6680 - val_loss: 50326.9844 - val_mae: 50326.9844
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49636.3711 - mae: 49636.3711 - val_loss: 50321.2305 - val_mae: 50321.2305
Epoch 29/100
250/250 [==============================] - 2s 8ms/step - loss: 49625.7461 - mae: 49625.7461 - val_loss: 50318.8281 - val_mae: 50318.8281
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49609.2305 - mae: 49609.2305 - val_loss: 50314.9922 - val_mae: 50314.9922
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49598.5938 - mae: 49598.5938 - val_loss: 50306.2266 - val_mae: 50306.2266
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49584.6758 - mae: 49584.6758 - val_loss: 50314.6328 - val_mae: 50314.6328
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49578.3320 - mae: 49578.3320 - val_loss: 50315.7344 - val_mae: 50315.7344
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49566.8711 - mae: 49566.8711 - val_loss: 50316.3398 - val_mae: 50316.3398
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49557.5078 - mae: 49557.5078 - val_loss: 50313.6641 - val_mae: 50313.6641
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49544.8164 - mae: 49544.8164 - val_loss: 50307.2852 - val_mae: 50307.2852
Epoch 37/100
250/250 [==============================] - 1s 5ms/step - loss: 49537.5508 - mae: 49537.5508 - val_loss: 50312.0273 - val_mae: 50312.0273
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49528.2305 - mae: 49528.2305 - val_loss: 50298.9023 - val_mae: 50298.9023
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49515.5117 - mae: 49515.5117 - val_loss: 50303.8594 - val_mae: 50303.8594
Epoch 40/100
250/250 [==============================] - 3s 10ms/step - loss: 49508.9141 - mae: 49508.9141 - val_loss: 50296.4766 - val_mae: 50296.4766
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49500.5938 - mae: 49500.5938 - val_loss: 50297.8281 - val_mae: 50297.8281
Epoch 42/100
250/250 [==============================] - 1s 5ms/step - loss: 49494.7812 - mae: 49494.7812 - val_loss: 50294.3398 - val_mae: 50294.3398
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49483.5273 - mae: 49483.5273 - val_loss: 50294.1133 - val_mae: 50294.1133
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49478.4102 - mae: 49478.4102 - val_loss: 50302.9219 - val_mae: 50302.9219
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49469.5234 - mae: 49469.5234 - val_loss: 50290.5000 - val_mae: 50290.5000
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49464.4336 - mae: 49464.4336 - val_loss: 50292.6641 - val_mae: 50292.6641
Epoch 47/100
250/250 [==============================] - 1s 6ms/step - loss: 49459.8711 - mae: 49459.8711 - val_loss: 50292.7656 - val_mae: 50292.7656
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 49449.5664 - mae: 49449.5664 - val_loss: 50295.9844 - val_mae: 50295.9844
Epoch 49/100
250/250 [==============================] - 1s 5ms/step - loss: 49444.0742 - mae: 49444.0742 - val_loss: 50303.5078 - val_mae: 50303.5078
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49437.6914 - mae: 49437.6914 - val_loss: 50300.2617 - val_mae: 50300.2617
Epoch 51/100
250/250 [==============================] - 2s 9ms/step - loss: 49431.2930 - mae: 49431.2930 - val_loss: 50298.4219 - val_mae: 50298.4219
Epoch 52/100
250/250 [==============================] - 2s 8ms/step - loss: 49425.7344 - mae: 49425.7344 - val_loss: 50300.7422 - val_mae: 50300.7422
Epoch 53/100
250/250 [==============================] - 2s 6ms/step - loss: 49422.7617 - mae: 49422.7617 - val_loss: 50312.9961 - val_mae: 50312.9961
Epoch 54/100
250/250 [==============================] - 1s 5ms/step - loss: 49413.4883 - mae: 49413.4883 - val_loss: 50300.0117 - val_mae: 50300.0117
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49412.6211 - mae: 49412.6211 - val_loss: 50298.1875 - val_mae: 50298.1875
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 49404.3594 - mae: 49404.3594 - val_loss: 50320.9961 - val_mae: 50320.9961
Epoch 57/100
250/250 [==============================] - 1s 6ms/step - loss: 49403.1758 - mae: 49403.1758 - val_loss: 50310.2930 - val_mae: 50310.2930
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 49400.8398 - mae: 49400.8398 - val_loss: 50320.1602 - val_mae: 50320.1602
Epoch 59/100
250/250 [==============================] - 1s 5ms/step - loss: 49394.6719 - mae: 49394.6719 - val_loss: 50320.7734 - val_mae: 50320.7734
Epoch 60/100
250/250 [==============================] - 1s 5ms/step - loss: 49387.7891 - mae: 49387.7891 - val_loss: 50320.2461 - val_mae: 50320.2461
Epoch 61/100
250/250 [==============================] - 1s 6ms/step - loss: 49385.0664 - mae: 49385.0664 - val_loss: 50317.3945 - val_mae: 50317.3945
Epoch 62/100
250/250 [==============================] - 2s 9ms/step - loss: 49377.6641 - mae: 49377.6641 - val_loss: 50325.0391 - val_mae: 50325.0391
Epoch 63/100
250/250 [==============================] - 2s 7ms/step - loss: 49373.6719 - mae: 49373.6719 - val_loss: 50323.1797 - val_mae: 50323.1797
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 49374.2227 - mae: 49374.2227 - val_loss: 50329.1562 - val_mae: 50329.1562
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 49368.1094 - mae: 49368.1094 - val_loss: 50326.3164 - val_mae: 50326.3164

In [94]:
## Load TensorBoard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [95]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 36104), started 0:47:28 ago. (Use '!kill 36104' to kill it.)

In [96]:
## Evaluate model on test data
test_loss,test_mae = model.evaluate(x_test,y_test)
print(f"Test MAE : {test_mae}")

63/63 [==============================] - 0s 4ms/step - loss: 50290.5000 - mae: 50290.5000
Test MAE : 50290.5

In [97]:
model.save('regression_model.h5')

c:\Users\Dell\Desktop\data\science\ds\ANN classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(